
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU10KMi6F3Q7OPrlvmCmHTcirWAk0PTTg&v=3.exp&sensor=false&libraries=places"></script>


<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script src="/js/moment.min.js"></script>
 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

<head>
<style>
html,
body,
#map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}

</style>
</head>



 <h2 class="page-header">Events</h2>


{{#ifEquals user.user_type "organization"}}
<h2>
Hi, {{user.name}}
</h2>
<hr>
<h4>
Create a new volunteer oppertunity:
</h4>

<div id="event_create">
<form method="post" action="/events">
  
  <div class="form-group">
    <label>Event Name</label>
    <input type="text" class="form-control" placeholder="Name" name="name">
  </div>
  <div class="form-group">
    <label>Event Description</label>
    <input type="text" class="form-control" placeholder="Description" name="description">
  </div>

   <div class="form-group">
    <label>Event Start-Date</label>


            <div class='input-group date' id='datetimepicker6'>
                <input type='text' name="start_date" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>            

            </div>

    <label>Event End-Date</label>

                        <div class='input-group date' id='datetimepicker7'>
                <input type='text' name="end_date" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>

  </div>

<label>Event Location</label>
  <input id="pac-input" class="controls" name="location_name" type="text" placeholder="Search Box">
<div class="container" id="map-canvas" style="height:300px;"></div>

    <div class="form-group">
    <label>Lat</label>
    <input type="text" id="latInput" class="form-control" placeholder="" name="lat" readonly>
  </div>


  <div class="form-group">
    <label>Lng</label>
    <input type="text" id="lngInput" class="form-control" placeholder="" name="lng" readonly>
  </div>

  <div class="form-group">
  <label>Event Type</label>
  <select name="event_type">
    <option value="tree_planting">Tree Planting</option>
    <option value="flyering">Flyering</option>
    <option value="cleaning">Cleaning</option>
    <option value="general">General</option>
  </select>
  </div>

  <div class="form-group">
    <label>Organization user id</label>
  <input type="text" id="" class="form-control" value="{{user.id}}" name="organization_id" readonly>
  </div>

  <div class="form-group">
    <label>Maximum number of volunteers needed</label>
    <input type="number" class="form-control" value="10" min="1" name="max_volunteers">
  </div>

  <div class="form-group">
    <label>Subscriber event (let the application find the best people) &nbsp;</label>
    <input type="checkbox" checked="false" name="subscriber_model">
  </div>


  <div class="row">

      <div class="col-md-6">
      <div class="form-group">
      <label>Skills</label>
            <div class="mutliSelect">
                <ul>
                    <li>
                        <input type="checkbox" name="skill_1" /> Animal Care</li>
                    <li>
                        <input type="checkbox" name="skill_2" /> Arts/Crafting</li>
                    <li>
                        <input type="checkbox" name="skill_3" /> Entertainment</li>
                    <li>
                        <input type="checkbox" name="skill_4" /> Event Planning</li>
                    <li>
                        <input type="checkbox" name="skill_5" /> Other Languages</li>
                    <li>
                        <input type="checkbox" name="skill_6" /> Tutoring</li>
                    <li>
                        <input type="checkbox" name="skill_7" /> IT Support</li>
                    <li>
                        <input type="checkbox" name="skill_8" /> Marketing</li>
                    <li>
                        <input type="checkbox" name="skill_9" /> Photography/Videography</li>
                    <li>
                        <input type="checkbox" name="skill_10" /> Photo/Video Editing</li>
                    <li>
                        <input type="checkbox" name="skill_11" /> General computer (office, excel, setup) </li>
                    <li>
                        <input type="checkbox" name="skill_12" /> Housekeeping</li>
                    <li>
                        <input type="checkbox" name="skill_13" /> Carpentry</li>
                    <li>
                        <input type="checkbox" name="skill_14" /> Welding</li>
                    <li>
                        <input type="checkbox" name="skill_15" /> Sports</li>
                    <li>
                        <input type="checkbox" name="skill_16" /> Fitness Training</li>
                    <li>
                        <input type="checkbox" name="skill_17" /> Public Speaking</li>
                    <li>
                        <input type="checkbox" name="skill_18" /> Food Preparation</li>
                    <li>
                        <input type="checkbox" name="skill_19" /> Yard work/gardening</li>
                    <li>
                        <input type="checkbox" name="skill_20" /> Programming</li>
                    <li>
                        <input type="checkbox" name="skill_21" /> Law</li>
                    <li>
                        <input type="checkbox" name="skill_22" /> Accounting</li>
                    <li>
                        <input type="checkbox" name="skill_23" /> Finance</li>
                    <li>
                        <input type="checkbox" name="skill_24" /> CAD - Autocad, Solidworks</li>
                    <li>
                        <input type="checkbox" name="skill_25" /> Leadership</li>
                    <li>
                        <input type="checkbox" name="skill_26" /> Sales</li>
                    <li>
                        <input type="checkbox" name="skill_27" /> Medical</li>
                </ul>
            </div>
         </div>
        </div>

      <div class="col-md-6">
      <div class="form-group">
      <label>Interests</label>
            <div class="mutliSelect">
                <ul>
                    <li>
                        <input type="checkbox" name="interest_1" /> Animal Care</li>
                    <li>
                        <input type="checkbox" name="interest_2" /> Arts/Crafting</li>
                    <li>
                        <input type="checkbox" name="interest_3" /> Entertainment</li>
                    <li>
                        <input type="checkbox" name="interest_4" /> Event Planning</li>
                    <li>
                        <input type="checkbox" name="interest_5" /> Other Languages</li>
                    <li>
                        <input type="checkbox" name="interest_6" /> Tutoring</li>
                    <li>
                        <input type="checkbox" name="interest_7" /> IT Support</li>
                    <li>
                        <input type="checkbox" name="interest_8" /> Marketing</li>
                    <li>
                        <input type="checkbox" name="interest_9" /> Photography/Videography</li>
                    <li>
                        <input type="checkbox" name="interest_10" /> Photo/Video Editing</li>
                    <li>
                        <input type="checkbox" name="interest_11" /> General computer (office, excel, setup) </li>
                    <li>
                        <input type="checkbox" name="interest_12" /> Housekeeping</li>
                    <li>
                        <input type="checkbox" name="interest_13" /> Carpentry</li>
                    <li>
                        <input type="checkbox" name="interest_14" /> Welding</li>
                    <li>
                        <input type="checkbox" name="interest_15" /> Sports</li>
                    <li>
                        <input type="checkbox" name="interest_16" /> Fitness Training</li>
                    <li>
                        <input type="checkbox" name="interest_17" /> Public Speaking</li>
                    <li>
                        <input type="checkbox" name="interest_18" /> Food Preparation</li>
                    <li>
                        <input type="checkbox" name="interest_19" /> Yard work/gardening</li>
                    <li>
                        <input type="checkbox" name="interest_20" /> Programming</li>
                    <li>
                        <input type="checkbox" name="interest_21" /> Law</li>
                    <li>
                        <input type="checkbox" name="interest_22" /> Accounting</li>
                    <li>
                        <input type="checkbox" name="interest_23" /> Finance</li>
                    <li>
                        <input type="checkbox" name="interest_24" /> CAD - Autocad, Solidworks</li>
                    <li>
                        <input type="checkbox" name="interest_25" /> Leadership</li>
                    <li>
                        <input type="checkbox" name="interest_26" /> Sales</li>
                    <li>
                        <input type="checkbox" name="interest_27" /> Medical</li>
                </ul>
            </div>
         </div>
    </div>
    </div>


  <button type="submit" class="btn btn-success" style="width:100%">Submit</button>
</form>
</div>
<hr>


{{#if events}}
<div>
  <h2>Created Events</h2>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Lat/Lng</th>
      </tr>
    </thead>
    <tbody>
      {{#each events}}
      <tr>
        <td>{{event_name}}</td>
        <td>{{event_start_date}}</td>
        <td>{{event_end_date}}</td>
        <td>{{lat}}/{{lng}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/if}}

<script>



function init() {
   var map = new google.maps.Map(document.getElementById('map-canvas'), {
     center: {
       lat: 43.6600, lng: -79.3948
     },
     zoom: 12
   });


   var searchBox = new google.maps.places.SearchBox(document.getElementById('pac-input'));
   map.controls[google.maps.ControlPosition.TOP_CENTER].push(document.getElementById('pac-input'));
   google.maps.event.addListener(searchBox, 'places_changed', function() {
     searchBox.set('map', null);


     var places = searchBox.getPlaces();

     var bounds = new google.maps.LatLngBounds();
     var i, place;
     for (i = 0; place = places[i]; i++) {
       (function(place) {
         var marker = new google.maps.Marker({
    draggable:true,
    title:"Drag me!",
           position: place.geometry.location
         });
         marker.bindTo('map', searchBox, 'map');
         google.maps.event.addListener(marker, 'map_changed', function() {
           if (!this.getMap()) {
             this.unbindAll();
           }
           //alert( marker.getPosition().lat());
               document.getElementById("latInput").value = marker.getPosition().lat().toFixed(3);
               document.getElementById("lngInput").value = marker.getPosition().lng().toFixed(3);
         });

         google.maps.event.addListener(marker, 'dragend', function (evt) {
    document.getElementById("latInput").value = evt.latLng.lat().toFixed(3);
    document.getElementById("lngInput").value = evt.latLng.lng().toFixed(3);
});
         bounds.extend(place.geometry.location);


       }(place));

     }
     map.fitBounds(bounds);
     searchBox.set('map', map);
     map.setZoom(Math.min(map.getZoom(),12));
             
        

   });
 }



google.maps.event.addDomListener(window, 'load', init);

    $(function () {
        $('#datetimepicker6').datetimepicker();
        $('#datetimepicker7').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });

</script>

{{/ifEquals}}