
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU10KMi6F3Q7OPrlvmCmHTcirWAk0PTTg&v=3.exp&sensor=false&libraries=places"></script>


<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>


<style>
#map-canvas {
  margin: 0;
  padding: 0;
  height: 300px;
}
</style>


<h3>{{event.event_name}}</h3>
<br>

<h4>Organization: {{user.name}}</h4>
<p>Description: {{event.description}}</p>

<br>

<div class="row">
	<div class="col-md-8">
			<div class="container" id="map-canvas" style="width:100%"></div>

	</div>
	<div class="col-md-4" style="color:grey">
	<p>Start Date: {{datetimeFormat event.event_start_date "/" 0}}</p>
	<p>End Date: {{datetimeFormat event.event_end_date "/" 0}}</p>
	<p>Created Date: {{datetimeFormat  event.created_time "/" 0}} </p>
	<h3>Status: <span style="color:green"> {{event.status}} </span></h3>
	</div>

{{#if event_full}}
    <form action="/change_status" method="post">
        <input type="hidden" name="event_id" value="{{event._id}}">
        <input type="hidden" name="type" value="event_completed">
        <input type="submit" class="btn btn-success" name="submit" value="Event Completed">
    </form>
    <br>
{{/if}}
{{#if event_cancelled}}
{{else if event_completed}}
{{else}}
<form action="/change_status" method="post">
    <input type="hidden" name="event_id" value="{{event._id}}">
    <input type="hidden" name="type" value="cancel_event">
    <input type="submit" class="btn btn-danger" name="submit" value="Cancel Event">
</form>
{{/if}}
</div>



<br>
{{#if user_apps}}
<h3>Applications:</h3>
{{#each user_apps}}
<div class="row">
		<div class="col-md-8">
		 <h4 style="display: inline;vertical-align: center;">{{this.volunteer.name}}</h4> 
		 <p style="display: inline;vertical-align: center;"> {{datetimeFormat this.application.created_time "/" 0 }}<p>
		</div>
		<div class="col-md-4">
			<form method="post" action="/applications/{{application._id}}" >

			<button type="submit" name="application_action" value="accept" class="btn btn-success">Accept</button>
			<button type="submit" name="application_action" value="decline" class="btn btn-warning">Decline</button>
			</form>
		</div>
</div>
<hr>
{{/each}}
{{/if}}

{{#if user_accepted}}
<h3>Accepted Applications:</h3>
{{#each user_accepted}}
	<div class="row">
		<div class="col-md-8">
		 <h4 style="display: inline;vertical-align: center;">{{volunteer.name}}</h4> 
		 <p style="display: inline;vertical-align: center;"> {{datetimeFormat application.created_time "/" 0 }}<p>
		</div>
		{{#if ../event_completed}}
			<form action="/change_status" method="post">
				<label>Hours</label>
				<input type="number" name="duration_hours" max="1000" value="{{../duration_hours}}">
				<label>Minutes</label>
				<input type="number" name="duration_minutes" min="0" max="60" value="{{../duration_minutes}}">
		        <input type="hidden" name="event_id" value="{{../event._id}}">
		        <input type="hidden" name="application_id" value="{{this.application._id}}">
		        <input type="hidden" name="type" value="attended">
		        <input type="submit" class="btn btn-success" name="submit" value="Attended">
		    </form>
		    <form action="/change_status" method="post">
		        <input type="hidden" name="event_id" value="{{event._id}}">
		        <input type="hidden" name="application_id" value="{{this.application._id}}">
		        <input type="hidden" name="type" value="not_attended">
		        <input type="submit" class="btn btn-danger" name="submit" value="Did Not Attend">
		    </form>
	    {{/if}}
</div>
<hr>
{{/each}}
{{/if}}

{{#if user_declined}}
<h3>Rejected Applications:</h3>
{{#each user_declined}}
	<div class="row">
		<div class="col-md-8">
		 <h4 style="display: inline;vertical-align: center;">{{volunteer.name}}</h4> 
		 <p style="display: inline;vertical-align: center;"> {{datetimeFormat application.created_time "/" 0 }}<p>
		</div>
</div>
<hr>
{{/each}}
{{/if}}

{{#if user_cancelled_vol}}
<h3>Volunteer Cancelled Applications:</h3>
{{#each user_cancelled_vol}}
	<div class="row">
		<div class="col-md-8">
		 <h4 style="display: inline;vertical-align: center;">{{volunteer.name}}</h4> 
		 <p style="display: inline;vertical-align: center;"> {{datetimeFormat application.created_time "/" 0 }}<p>
		</div>
</div>
<hr>
{{/each}}
{{/if}}

{{#if user_completed}}
<h3>Completed Applications:</h3>
{{#each user_completed}}
	<div class="row">
		<div class="col-md-8">
		 <h4 style="display: inline;vertical-align: center;">{{volunteer.name}}</h4> 
		 <p style="display: inline;vertical-align: center;"> {{datetimeFormat application.created_time "/" 0 }}<p>
		</div>
</div>
<hr>
{{/each}}
{{/if}}


<script>

function init() {

  var myLatLng = {lat: 43.6600, lng: -79.3948};

  var map = new google.maps.Map(document.getElementById('map-canvas'), {
    zoom: 12,
    center: myLatLng
  });


  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Hello World!'
  });

 }

 google.maps.event.addDomListener(window, 'load', init);

</script>