<h2>
Hi, {{user.name}}
</h2>
<p>Welcome to your dashboard</p>  
<hr>


{{#if events}}
<div>
  <h3>Created Events</h3>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Lat/Lng</th>
      </tr>
    </thead>
    <tbody>
      {{#each events}}
          <tr>
            <td><a href="/events/{{_id}}">{{event_name}}</a></td>
            <td>{{event_start_date}}</td>
            <td>{{event_end_date}}</td>
            <td>{{lat}}/{{lng}}</td>

          </tr>
      {{/each}}
    </tbody>
  </table>
</div>


{{/if}}



<form method="get" action="/events">
  <button type="submit" class="btn btn-success" >Create New Event</button>
</form>