<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<h2>
Hi volunteer, {{user.name}}
</h2>
<p>Welcome to your dashboard</p>  
<hr>

<script>
$( document ).ready(function() {
  $("#my_apps_vol").hide();
  $("#my_apps_btn").click(function(){
    $("#my_apps_vol").toggle();
  });
});
</script>

<button class="btn btn-primary" id="my_apps_btn">My Applications</button>
<div id = "my_apps_vol">
  <h3> My Applications </h3>
  {{#each user_apps}}
    <div class="row">
      <h4 style="display: inline;vertical-align: center;">{{this.event.event_name}}</h4> 
      <p style="display: inline;vertical-align: center;color:red">Lat/Lon: {{this.event.lat}}/{{this.event.lng}}</p>
      <p style="display: inline;vertical-align: center;color:red">Location: {{this.event.location_name}}</p>
      <br>
      <p style="display: inline;vertical-align: center;"> {{this.event.event_start_date}} - {{this.event.event_end_date}}</p>
      <p style="display: inline;vertical-align: center;color:red">Organization: {{this.organization.name}}</p>
      <p style="display: inline;vertical-align: center;color:red">Event Status: {{this.event.status}}</p>
      <p style="display: inline;vertical-align: center;color:red">Application Status: {{this.application.status}}</p>
    </div>
     {{#ifCond this.application.status "==" "tbd"}}
      <form action="/change_status" method="post">
        <input type="hidden" name="event_id" value="{{this.event._id}}">
        <input type="hidden" name="application_id" value="{{this.application._id}}">
        <input type="hidden" name="type" value="cancel_vol">
        <input type="submit" class="btn btn-danger" name="submit" value="Cancel">
      </form>
     {{/ifCond}}
      <br>
  {{/each}}
</div>

<div class="container">
  <div class="row">
      <div class="col-md-12" id="my_apps">

      </div>
      <div class="col-md-4">
      <h4>Sort by: </h4>
      <btn class="btn btn-primary" id="sort_start_date" style="width:100%">Start Date</btn>
      <hr>
      <btn class="btn btn-primary" id="sort_location" style="width:100%">Location</btn>
      <h4 id="aggregation_results">Aggregations:</h4>
      </div>

  </div>
</div>



<input id="search_input">
<btn class="btn btn-primary" id="search_btn">Search</btn>

  <h3>Search Results</h3>

  <div class="container">
  <div class="row">
      <div class="col-md-8" id="search_results">

      </div>
      <div class="col-md-4">
      <h4>Sort by: </h4>
      <btn class="btn btn-primary" id="sort_start_date" style="width:100%">Start Date</btn>
      <hr>
      <btn class="btn btn-primary" id="sort_location" style="width:100%">Location</btn>
      <h4 id="aggregation_results">Aggregations:</h4>
      </div>

  </div>
 </div>


        {{#if events}}
        <h3>Events:</h3>
        <br>
        <div class="container">
        {{#each events}}
        <div class="row">
             <h4 style="display: inline;vertical-align: center;">{{event_name}}</h4> 
             <p style="display: inline;vertical-align: center;color:red">Lat/Lon: {{lat}}/{lng}}</p>
             <p style="display: inline;vertical-align: center;color:red">Location: {{location_name}}</p>
             <br>
             <p style="display: inline;vertical-align: center;"> {{event_start_date}} - {{event_end_date}}</p>

        </div>
        <br>
        <hr>
        {{/each}}
        </div>
        {{/if}}





<script>

function querySearch(query) {
        $.ajax({
        url: "http://artoflivingcanada.ca:9200/test_events4/_search/",
        type: 'post',
        dataType: 'json',
        success: function(data) {
            //console.log("Success" + JSON.stringify(data["aggregations"]["event_types"]["buckets"]));

            console.log("data is " + JSON.stringify(data["hits"]["hits"]));

            $("#search_results").empty();

            if (data["hits"]["hits"].length == 0 ){
              
            $("#search_results").append('<h4>No results :( </h4>');
              return;
            }

            var applications = {{{applications}}};

            data["hits"]["hits"].forEach(function(element) {


                element = element["_source"]
                //console.log("search result is "  +  JSON.stringify(element));

                //check if event is already applied to 
                var applied = applications.filter(function(x) {
                  return x.event_id == element['event_id'];
                });


                if (applied.length > 0){

                  var $input_event_id = $("<input>", {"type":"hidden", "name":"event_id", "value": element['event_id']});

                  var $div = $("<div>", {"class": "row"});
                  var $h4_name = $("<h4>");
                  $h4_name.text(element["name"]);
                  var $p = $("<p>", {"style": "color:grey"});
                  $p.text('From ' + element['start_date'] + ' to ' + element['end_date'] + ' at ' + element['location']['lat'] + ',' + element['location']['lon']);

                  var $btn = $("<button>", {"class":"btn btn-success", "type":"submit", "style":"width:100%", "disabled":"disabled"});
                  $btn.text('Applied');

                  $div.append('<hr>');
                  $div.append($h4_name);
                  $div.append($p);
                  $div.append($input_event_id);
                  $div.append($btn);
                  $div.append('<hr>');

                  $("#search_results").append($div);
                }
                else {

                  var $form = $("<form>", {"method":"post", "action":"/applications"});

                  var $input_event_id = $("<input>", {"type":"hidden", "name":"event_id", "value": element['event_id']});

                  var $div = $("<div>", {"class": "row"});
                  var $h4_name = $("<h4>");
                  $h4_name.text(element["name"]);
                  var $p = $("<p>", {"style": "color:grey"});
                  $p.text('From ' + element['start_date'] + ' to ' + element['end_date'] + ' at ' + element['location']['lat'] + ',' + element['location']['lon']);

                  var $btn = $("<button>", {"class":"btn btn-success", "type":"submit", "style":"width:100%"});
                  $btn.text('Apply');

                  $div.append('<hr>');
                  $div.append($h4_name);
                  $div.append($p);
                  $div.append($input_event_id);
                  $div.append($btn);
                  $div.append('<hr>');

                  $form.append($div);

                  $("#search_results").append($form);

                } 

            });

            $("#aggregation_results").empty();

                data["aggregations"]["event_types"]["buckets"].forEach(function(element){
                  agg_name = element['key'];
                  agg_count = element['doc_count'];
                  $("#aggregation_results").append('<p style="color:grey"> ' + agg_name + ' : ' + agg_count + '</p>');

                });

        },
        error: function(data) {
            // should be only one item in hits
            $(data.hits.hits).each(function(index, hit) {
                alert(hit._source.items);
            });
        },
        data: JSON.stringify(query)
    });
}

var search_input = ''

//initializing page load with all search results
  query = {
    size: 100,
    query: {
      match_all: {}
    },
    aggs: {
      event_types:{
        terms: {field: "event_type"}
      }
    }  
  }

  querySearch(query);

$( "#search_btn" ).click(function() {

  search_input = $("#search_input").val()

  console.log("searching " + search_input);

  query = {
    query: {
      multi_match: {
        query: search_input,
        fields: ["name^3", "event_type"],
        fuzziness: "AUTO"
      }
    },

    aggs: {
      event_types:{
        terms: {field: "event_type"}
      }
    }  

  }

if (search_input && (search_input.replace(/^\s+|\s+$/g, '').length != 0 )) {

    querySearch(query);

} else {

  query = {
    query: {
      match_all: {}
    },
    aggs: {
      event_types:{
        terms: {field: "event_type"}
      }
    }  
  }

  querySearch(query);

}

});

$( "#sort_start_date" ).click(function() {

  search_input = $("#search_input").val()

  console.log("searching " + search_input);


  query = {
    query: {
      multi_match: {
        query: search_input,
        fields: ["name^3", "event_type"],
        fuzziness: "AUTO"
      }
    },
    sort: [
    {start_date: {order: "asc"}}
    ],

    aggs: {
      event_types:{
        terms: {field: "event_type"}
      }
    }  
  }

if (search_input && (search_input.replace(/^\s+|\s+$/g, '').length != 0 )) {

    querySearch(query);

} else {

  query = {
    query: {
      match_all: {}
    },
    sort: [
    {start_date: {order: "asc"}}
    ],

    aggs: {
      event_types:{
        terms: {field: "event_type"}
      }
    }  
  }

  querySearch(query);

}

});

$( "#sort_location" ).click(function() {

  search_input = $("#search_input").val()

  console.log("searching " + search_input);


  query = {
    query: {
      multi_match: {
        query: search_input,
        fields: ["name^3", "event_type"],
        fuzziness: "AUTO"
      }
    },
    sort: [
    {
      _geo_distance: {
        location: {
          lat: {{user.lat}},
          lon: {{user.lng}}
        },
        order: "asc",
        unit: "km",
        distance_type: "plane"
    }
    }
    ],

    aggs: {
      event_types:{
        terms: {field: "event_type"}
      }
    }  
  }

if (search_input && (search_input.replace(/^\s+|\s+$/g, '').length != 0 )) {

    querySearch(query);

} else {

  query = {
    query: {
      match_all: {}
    },
    sort: [
    {
      _geo_distance: {
        location: {
          lat: {{user.lat}},
          lon: {{user.lng}}
        },
        order: "asc",
        unit: "km",
        distance_type: "plane"
    }
    }
    ],

    aggs: {
      event_types:{
        terms: {field: "event_type"}
      }
    }  
  }

  querySearch(query);

}

});


</script>

